.DS_Store
*.swp
.idea/
*~
*~*
*.pyc
*.log
*.bak
*.sql
*.bat
.svn/
.project
.pydevproject
.settings
local_settings.py

build/
*.iml
local.properties
app.iml

src/main/assets/.sass-cache
src/main/assets/node_modules